<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-buttons end>
  	<button ion-button icon-only (click)="goToOtherPage()">
  	<ion-icon name="add"></ion-icon>
  	</button>
  </ion-buttons>

  <ion-list>
  	<p>Users</p>
  	<ion-item *ngFor="let fname of catchFname; index as i" >
  		{{ title }}
  		<button ion-button icon-start (click)="deleteItem(i)">
  		<ion-icon name="trash"></ion-icon>
  		</button>
  		<button ion-button icon-end (click)="goToOtherPage2(i)">
  		<ion-icon name="arrow-round-up"></ion-icon>
  		</button>
  	</ion-item>
  </ion-list>
</ion-content>
